@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

.font-sketch {
  font-family: 'Playwrite IT Moderna', cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

// use "Roboto" font for tags
.font-tag {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}